.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore credentials and vault key file
**/.credentials.yml
**/.token
.vault_key

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Sphinx documentation
docs/_build/

# Ignore host variables for the blank branch
inventory/host_vars/*
!inventory/host_vars/.gitkeep

# Ignore node variables for the blank branch
proxmox_nodes/*
!proxmox_nodes/.gitkeep
