---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/bookmarks

- Developer:
    - Github:
        - abbr: GH
          href: https://github.com/SpeakinTelnet

- Social:
    - Reddit:
        - abbr: RE
          href: https://reddit.com/

- Entertainment:
    - YouTube:
        - abbr: YT
          href: https://youtube.com/

- Wallets:
    - SpeakinTelnet:
        - abbr: SP
          href: https://etherscan.io/address/0x29006fd3a752c84c158217b182d8f60fee565592
