---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/settings

title: Homepage

layout:
  Media:
    icon: beets
    style: row
    columns: 2
  Home Automation:
    icon: esphome
    style: row
    columns: 3
  Download Management:
    icon: kaizoku
    style: row
    columns: 3  
  Server Management:
    icon: mobaxterm
    style: row
    columns: 3
