---

- name: Check if oh-my-zsh is installed
  remote_user: "{{ user }}"
  ansible.builtin.stat:
    path: ~/.oh-my-zsh
  register: ohmyzsh_folder

- name: Execute the zsh-installer.sh
  remote_user: "{{ user }}"
  ansible.builtin.command: "/bin/sh /tmp/zsh-installer.sh --unattended"
  changed_when: false
  when: not ohmyzsh_folder.stat.exists

- name: Write the ~/.zshrc file
  remote_user: "{{ user }}"
  ansible.builtin.lineinfile:
    path: ~/.zshrc
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - {
      regexp: "^ZSH_THEME=",
      line: "{{ 'ZSH_THEME=\"' + ohmyzsh_theme + '\"' }}"
    }
    - {
      regexp: "^plugins=",
      line: "{{ 'plugins=(' + ohmyzsh_plugins | default([]) | join(' ') + ')' }}"
    }
    - {
      regexp: "^DEFAULT_USER=",
      line: "DEFAULT_USER=homelab"
    }
    - {
      regexp: "prompt_context(){}",
      line: "prompt_context(){}"
    }

- name: Create .bash_profile file
  remote_user: "{{ user }}"
  ansible.builtin.copy:
    content: |-
      export SHELL=/bin/zsh
      exec /bin/zsh -l
    dest: ~/.bash_profile
    owner: "{{ user }}"
    mode: 0744

- name: Add auto-suggestions plugin
  remote_user: "{{ user }}"
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
    version: master
