---

- name: Restart jellyseerr docker service
  become: true
  ansible.builtin.command:
    chdir: /opt/jellyseerr
    cmd: "docker compose restart"
  changed_when: false
  register: docker_restarted

- name: Start updated jellyseerr docker service
  become: true
  ansible.builtin.command:
    chdir: /opt/jellyseerr
    cmd: "docker compose up -d"
  changed_when: false
  when: not docker_restarted|default(false)|bool
