[Unit]
Description=NZBGet Binary News File Grabber
After=network.target

[Service]
Type=forking
User=automedia
Group=automedia
ExecStart=/usr/bin/nzbget --daemon --configfile /etc/nzbget/nzbget.conf
ExecReload=/usr/bin/nzbget --reload
ExecStop=/usr/bin/nzbget --quit
Restart=always
SyslogIdentifier=NZBGet

[Install]
WantedBy=multi-user.target