---

mqtt:
  host: {{frigate_mqtt_host}}
  port: {{frigate_mqtt_port}}
  user: {{frigate_mqtt_user}}
  password: {{frigate_mqtt_password}}

database:
  path: /db/frigate.db

detectors:
  cpu1:
    type: cpu
  cpu2:
    type: cpu
  cpu3:
    type: cpu

ffmpeg:
  # yamllint disable-line rule:line-length
  input_args: -avoid_negative_ts make_zero -fflags +genpts+discardcorrupt -flags low_delay -strict experimental -analyzeduration 1000M -probesize 1000M -rw_timeout 5000000
  output_args:
    # yamllint disable-line rule:line-length
    record: -f segment -segment_time 10 -segment_format mp4 -reset_timestamps 1 -strftime 1 -c copy

detect:
  width: 896
  height: 672
  fps: 5

record:
  # yamllint disable-line rule:truthy
  enabled: True
  retain:
    days: 5
  events:
    pre_capture: 20
    post_capture: 20
    objects:
      - person
      - car
      - dog
      - cat
    retain:
      default: 30

rtmp:
  # yamllint disable-line rule:truthy
  enabled: True

cameras:
  ARRIERE:
    ffmpeg:
      input_args:
        - -avoid_negative_ts
        - make_zero
        - -fflags
        - nobuffer+genpts+discardcorrupt
        - -flags
        - low_delay
        - -strict
        - experimental
        - -analyzeduration
        - 1000M
        - -probesize
        - 1000M
        - -rw_timeout
        - "5000000"
      inputs:
        - path: <your_camera_path>
          roles:
            - record
            - rtmp
        - path: <your_camera_path>
          roles:
            - detect
    detect:
      width: 896
      height: 672
      fps: 7
