[Unit]
Description=Lodestar Validator (Ethereum consensus client)
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]

User=cryptobro
Group=cryptobro
WorkingDirectory=/opt/lodestar
TimeoutSec=1200
Restart=always

RestartPreventExitStatus=129

ExecStart=/usr/local/bin/node --trace-deprecation --max-old-space-size=4096 \
  /opt/lodestar/packages/cli/bin/lodestar.js validator \
  --network=gnosis \
  --dataDir=/var/opt/lodestar/chain-data \
  --doppelgangerProtectionEnabled \
  --metrics=true \
  --metrics.port=8010 \
  --suggestedFeeRecipient=0x29006fd3a752c84c158217B182D8F60FeE565592 \
  --importKeystores=/var/opt/lodestar/validator/keys \
  --importKeystoresPassword=/var/opt/lodestar/validator/password.txt
