[Unit]
Description=Lodestar Beacon Node (Ethereum consensus client)
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]

User=cryptobro
Group=cryptobro
WorkingDirectory=/opt/lodestar
TimeoutSec=1200
Restart=always

ExecStart=/opt/lodestar/lodestar beacon \
  --dataDir=/var/opt/lodestar/chain-data \
  --network.maxPeers 60 \
  --metrics=true \
  --metrics.port=8009 \
  --checkpointSyncUrl=https://beaconstate-mainnet.chainsafe.io \
  --network=mainnet \
  --execution.urls=http://10.1.10.91:8551 \
  --jwt-secret=/var/opt/lodestar/jwt.hex