version: '3'
services:
    jellyseerr:
       image: fallenbagel/jellyseerr:latest
       container_name: jellyseerr
       environment:
            - LOG_LEVEL=debug
            - TZ={{ timezone }}
#            - JELLYFIN_TYPE=emby
       ports:
            - 5055:5055
       volumes:
            - /etc/jellyseerr:/app/config
       restart: unless-stopped