---

- name: Restart paperless docker service
  become: true
  command:
    chdir: /opt/paperless
    cmd: "docker compose restart"
  changed_when: false
  register: docker_restarted

- name: Start updated paperless docker service
  become: true
  command:
    chdir: /opt/paperless
    cmd: "docker compose up -d"
  changed_when: false
  when: not docker_restarted|default(false)|bool
