---

- name: Add dependencies
  become: true
  ansible.builtin.apt:
    name:
      - curl
      - sqlite3

- name: Ensure group media exists
  become: true
  ansible.builtin.group:
    name: media
    state: present

- name: Add user radarr and group media
  become: true
  ansible.builtin.user:
    name: radarr
    groups: media

- name: Add Radarr to opt
  become: true
  ansible.builtin.unarchive:
    # yamllint disable-line rule:line-length
    src: "http://radarr.servarr.com/v1/update/master/updatefile?os=linux&runtime=netcore&arch=x64"
    dest: /opt
    owner: radarr
    group: media
    remote_src: true
    creates: /opt/Radarr

- name: Create the radarr lib folder
  become: true
  ansible.builtin.file:
    dest: /var/lib/radarr
    owner: radarr
    group: media
    state: directory
    mode: 0755

- name: Add Radarr service file
  become: true
  ansible.builtin.copy:
    src: radarr.service
    dest: /etc/systemd/system/radarr.service
    owner: root
    group: root
    mode: 0644

- name: Enable and start Radarr service
  become: true
  ansible.builtin.systemd:
    name: radarr
    enabled: true
    state: started

- name: Stamp as properly deployed
  ansible.builtin.include_role:
    name: helpers/tag_host
  vars:
    stamp: "radarr_deployed"
