[Unit]
Description=Ethereum go client
After=network.target

[Service]
User=cryptobro
Group=cryptobro
Type=simple
Restart=always
RestartSec=30s
ExecStart=/usr/bin/geth \
          --datadir /var/lib/geth/chain-data \
          --config /var/lib/geth/config.toml \
          --mainnet

[Install]
WantedBy=default.target
