---
- name: Install Jellyfin dependencies
  become: true
  ansible.builtin.apt:
    name:
      - curl
      - gnupg
      - ffmpeg

- name: Add Jellyfin GPG key
  become: true
  ansible.builtin.get_url:
    # yamllint disable-line rule:line-length
    url: "https://repo.jellyfin.org/{{ ansible_distribution | lower }}/jellyfin_team.gpg.key"
    dest: /etc/apt/trusted.gpg.d/jellyfin.asc
    owner: root
    group: root
    mode: 0644

- name: Add Jellyfin APT sources
  become: true
  ansible.builtin.template:
    src: jellyfin.sources.j2
    dest: /etc/apt/sources.list.d/jellyfin.sources
    owner: root
    group: root
    mode: 0644

- name: Install Jellyfin
  become: true
  ansible.builtin.apt:
    update_cache: true
    name: jellyfin
    state: latest

- name: Start and Enable jellyfin service
  become: true
  ansible.builtin.systemd:
    name: jellyfin
    enabled: true
    state: started

- name: Stamp as properly deployed
  ansible.builtin.include_role:
    name: helpers/tag_host
  vars:
    stamp: "jellyfin_deployed"
