---

- hosts: lxc
  strategy: free
  roles:
    - { role: services/bookstack, when: "'bookstack' in group_names " }
    - { role: services/cloudbeaver, when: "'cloudbeaver' in group_names " }
    - { role: services/emqx, when: "'emqx' in group_names " }
    - { role: services/frigate, when: "'frigate' in group_names " }
    - { role: services/gitea, when: "'gitea' in group_names " }
