---

- name: Deploy all services
  hosts: services
  strategy: free  # noqa: run-once[play]
  roles:
    - {role: services/bookstack, when: "'bookstack' in group_names"}
    - {role: services/cloudbeaver, when: "'cloudbeaver' in group_names"}
    - {role: services/emqx, when: "'emqx' in group_names"}
    - {role: services/frigate, when: "'frigate' in group_names"}
    - {role: services/gitea, when: "'gitea' in group_names"}
    - {role: services/grafana, when: "'grafana' in group_names"}
    - {role: services/homepage, when: "'homepage' in group_names"}
    - {role: services/jellyfin, when: "'jellyfin' in group_names"}
    - {role: services/jellyseerr, when: "'jellyseerr' in group_names"}
    - {role: services/mailcow, when: "'mailcow' in group_names"}
    - {role: services/mattermost, when: "'mattermost' in group_names"}
    - {role: services/nzbget, when: "'nzbget' in group_names"}
    - {role: services/paperless, when: "'paperless' in group_names"}
    - {role: services/prowlarr, when: "'prowlarr' in group_names"}
    - {role: services/radarr, when: "'radarr' in group_names"}
    - {role: services/sabnzbd, when: "'sabnzbd' in group_names"}
    - {role: services/sonarr, when: "'sonarr' in group_names"}

- name: Deploy all add-ons
  hosts: addons
  strategy: free  # noqa: run-once[play]
  roles:
    - {role: addons/nfs_share, when: "'nfs_share' in group_names "}
    - {role: addons/samba_share, when: "'samba_share' in group_names "}
    - {role: addons/ftp_server, when: "'ftp_server' in group_names "}
    - {role: addons/ohmyzsh, when: "'ohmyzsh' in group_names"}
    - {role: addons/loki, when: "'loki' in group_names"}
    - {role: addons/unattended_upgrades, when: "'unattended_upgrades' in group_names"}

- name: Deploys all blockchain Infrastructure
  hosts: blockchains
  strategy: free  # noqa: run-once[play]
  roles:
    - {role: blockchains/avalanchego, when: "'avalanchego' in group_names"}
    - {role: blockchains/geth, when: "'geth' in group_names"}
    - {role: blockchains/lodestar, when: "'lodestar' in group_names"}
    - {role: blockchains/lodestar_beacon, when: "'lodestar_beacon' in group_names"}
    - {role: blockchains/lodestar_validator, when: "'lodestar_validator' in group_names"}
    - {role: blockchains/nethermind, when: "'nethermind' in group_names"}
    - {role: blockchains/polygon_bor, when: "'polygon_bor' in group_names"}
    - {role: blockchains/polygon_heimdall, when: "'polygon_heimdall' in group_names"}
    - {role: blockchains/xmrig, when: "'xmrig' in group_names"}
