##################### JELLYFIN
{% for service in groups['jellyfin'] %}
homepage_{{ service | replace('.','_') }}_key: CHANGEME
{% endfor %}

##################### JELLYSEERR
{% for service in groups['jellyseerr'] %}
homepage_{{ service | replace('.','_') }}_key: CHANGEME
{% endfor %}

##################### paperless-ngx
{% for service in groups['paperless'] %}
homepage_{{ service | replace('.','_') }}_username: CHANGEME
homepage_{{ service | replace('.','_') }}_password: CHANGEME
{% endfor %}

##################### SONARR
{% for service in groups['sonarr'] %}
homepage_{{ service | replace('.','_') }}_key: CHANGEME
{% endfor %}

##################### RADARR
{% for service in groups['radarr'] %}
homepage_{{ service | replace('.','_') }}_key: CHANGEME
{% endfor %}

##################### NZBGET
{% for service in groups['nzbget'] %}
homepage_{{ service | replace('.','_') }}_username: CHANGEME
# homepage_{{ service | replace('.','_') }}_password: CHANGEME
{% endfor %}

##################### PROWLARR
{% for service in groups['prowlarr'] %}
homepage_{{ service | replace('.','_') }}_key: CHANGEME
{% endfor %}
