---

sabnzbd_api_key: {{lookup('password', '/dev/null length=32 chars=ascii_letters,digits')}}

sabnzbd_nzb_key: {{lookup('password', '/dev/null length=32 chars=ascii_letters,digits')}}

sabnzbd_server_host: CHANGE_ME

sabnzbd_server_username: CHANGE_ME

sabnzbd_server_password: CHANGE_ME