---

# lookup can be left for random generated password
user1_passwd: {{lookup('password', '/dev/null length=15')}}
user2_passwd: {{lookup('password', '/dev/null length=15')}}
user3_passwd: {{lookup('password', '/dev/null length=15')}}
